<div class="container">
    <h2 class="mx-auto mt-4 mb-4 text-white">Mascotas para adoptar</h2>
    <table class="table table-dark">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Descripcion</th>
            <th>tipo</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of lista">
          <tr>
            <th scope="row">{{item.nombre}}</th>
            <td>{{item.edad}}</td>
            <td>{{item.descripcion}}</td>
            <td>{{item.nombre_mascota}}</td>
          </tr>
        </tbody>
      </table>
</div>
