<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Refugio de Mascotas</title>
</head>

<body>
    <main>
        <header>   
           <app-navbar></app-navbar>
        </header>
        <!-- <app-mascota></app-mascota>
        <app-mascotas-agregar></app-mascotas-agregar> -->
        <router-outlet></router-outlet>
        <footer>
        </footer>
    </main>
</body>
</html>